* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
.logo {
    text-decoration: none;
    font-family: "Lobster", cursive;
    font-size: 45px;
    padding: 10px 40px;

    background-color: salmon;
}
.logo a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}
#top-banner {
    display: flex;
    color: rgb(68, 68, 68);
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 35px;
}
.half-width {
    width: 45%;
    padding: 5%;
}

.half-width h1 span {
    color: orangered;
}
.half-width p {
    padding-top: 20px;
    padding-bottom: 50px;
    padding-right: 140px;
}

.half-width img {
    width: 80%;
}
.gradient-button {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 15px 30px;
    border-radius: 50px;
    color: white;
    font-weight: 700;
}
#about-me-area {
    display: flex;
    color: rgb(68, 67, 67);
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    height: 650px;
}
#about-me-area div {
    position: relative;
}
#about-me-area div img {
    height: 620px;
    position: absolute;
    bottom: 0;
}
#about-me-area div p {
    padding-top: 70px;
    padding-bottom: 110px;
}
.flex-item {
    display: flex;
    width: 100%;
}
.flex-item h2 {
    padding: 20px 0;
}
.food-recipies {
    width: 30%;
    padding: 20px;
    margin: 20px 3%;
    box-shadow: 10px 10px 30px rgb(214, 206, 206);
    border-radius: 28px;
}
.food-recipies img {
    width: 100%;
}
.recipie-header {
    width: 50%;
    text-align: center;
    justify-content: center;
    margin-left: 23%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.recipie-header h2 {
    padding: 20px 0;
}

#social-media {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    margin: 5% 10%;
    box-shadow: 10px 10px 50px rgb(214, 205, 205);
    border-radius: 15px;
    box-sizing: border-box;
}
#review-area h2 {
    padding-left: 30px;
}
.customer {
    display: flex;
}
.customer div {
    width: 40%;
    text-align: center;
    padding: 10px 45px;
    box-shadow: 10px 10px 30px gray;
    border-radius: 10px;
    margin: 2%;
    border-left: 7px solid limegreen;
}
.star {
    color: gold;
}
.user-profile {
    height: 60px;
    width: 60px;
}
.contact-Us {
    text-align: center;
    padding: 30px 40px;
    margin: 20px 110px;
    box-shadow: 10px 10px 30px gray;
    border-bottom: 8px solid blue;
    border-left: 8px solid blueviolet;
    color: rgb(63, 55, 55);
}
footer {
    text-align: center;
    color: rgb(136, 129, 129);
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 55px;
}
footer h2 span {
    color: orangered;
}
footer small p {
    padding-top: 20px;
}
