* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
.logo {
    font-family: "Lobster", cursive;
    font-size: 45px;
    padding-left: 30px;
    color: salmon;
    background-image: linear-gradient(royalblue, purple);
}
#top-banner {
    display: flex;
    color: rgb(68, 68, 68);
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 35px;
}
.half-width {
    width: 45%;
    padding: 5%;
}

.half-width h1 span {
    color: orangered;
}
.half-width p {
    padding-top: 20px;
    padding-bottom: 50px;
    padding-right: 140px;
}

.half-width img {
    width: 80%;
}
.gradient-button {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 15px 30px;
    border-radius: 50px;
    color: white;
    font-weight: 700;
}
#about-me-area {
    display: flex;
    color: rgb(68, 67, 67);
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    height: 650px;
}
#about-me-area div {
    position: relative;
}
#about-me-area div img {
    height: 620px;
    position: absolute;
    bottom: 0;
}
#about-me-area div p {
    padding-top: 70px;
    padding-bottom: 110px;
}
.flex-item {
    display: flex;
    width: 100%;
}
.food-recipies {
    width: 30%;
    padding: 10px;
    margin: 20px 3%;
    box-shadow: 10px 10px 30px rgb(214, 206, 206);
    border-radius: 15px;
}
.food-recipies img {
    width: 100%;
}
.recipie-header {
    width: 50%;
    text-align: center;
    justify-content: center;
    margin-left: 23%;
    margin-top: 40px;
    margin-bottom: 40px;
}
footer {
    text-align: center;
    color: rgb(136, 129, 129);
    background-color: black;
    height: 15%;
}
footer h2 span {
    color: orangered;
}
#social-media {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    margin: 5% 10%;
    box-shadow: 10px 10px 50px rgb(214, 205, 205);
    border-radius: 15px;
    box-sizing: border-box;
}
